<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
            <%= quantity %>
            <%= form_tag "/cart/#{item.id}", method: :patch do %>
            <%=  number_field_tag :quantity, 0, min: 0, max: item.inventory %>
            <p><%= submit_tag 'Quantity +'%></p>
            <p><%= submit_tag 'Quantity -'%></p>
            <% end %>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <% if cart.find_discount(item.id) %>
          <p>Discounted Subtotal: <%= number_to_currency(cart.discounted_subtotal_of(item.id)) %></p>
        <% else %>
          <p>Subtotal: <%= number_to_currency(cart.subtotal_of(item.id)) %></p>
        <% end %>
    </td>
    </tr>
  <% end %>


</table>
<% if cart.discounted_grand_total == cart.grand_total %>
  <h3>Total: <%= number_to_currency(cart.grand_total) %></h3>
<% else %>
  <h3>Discounted Total: <%= number_to_currency(cart.discounted_grand_total) %></h3>
<% end %>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
    <% if current_user %>
      <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
    <% else %>
      <p><%= link_to "register", "/register/new", method: :get %></p>
      <p><%= link_to "log in", "/login", method: :get %></p>
    <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
