<h1>Welcome</h1>

<h3>All Orders: </h3>

<% @orders.each do |order| %>
  <section id="order-<%= order.id %>">
    <% if order.status == 'packaged' %>
      <h4>Packaged</h4>
    <% elsif order.status == 'pending' %>
      <h4>Pending</h4>
    <% elsif order.status == 'shipped' %>
      <h4>Shipped</h4>
    <% else %>
      <h4>Cancelled</h4>
    <% end %>
    <p><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
    <p>Order ID: <%= order.id %></p>
    <p>Created On: <%= order.created_at.strftime("%m-%d-%Y")%></p>
    <p><%= order.status %></p>
    <% if order.status == 'packaged' %>
    <%= button_to "Ship Order", "/admin/orders/#{order.id}", method: :patch  %>
    <% end %>
  </section>
<% end %>
