<h1>Hello, <%= @user.name %>!</h1>

<h3>User Information</h3>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Address: <%= @user.address %> <%= @user.city %>, <%= @user.state %> <%= @user.zip %></li>
  <li>Email: <%= @user.email %></li>
</ul>
<%= link_to 'Edit Profile', '/profile/edit' %>
<%= link_to 'Change Password', '/profile/change_password' %>
<% if !current_user.admin? %>
  <%= link_to 'My Orders', '/profile/orders' %>
<% end %>