<h1>My Orders</h1>
<% @user.orders.each do |order| %>
    <%= order.name %>
    <%= order.address %>
    <%= order.city %>
    <%= order.state %>
    <%= order.zip %>
    <%= order.status %>
<% end %>
