<h2>My Items</h2>

<% @merchant.items.each do |item| %>
<section id="item-<%= item.id %>">
<p>Name: <%= item.name %></p>
<p>Description: <%= item.description %></p>
<p>Price: <%= number_to_currency(item.price) %></p>
  <%= image_tag(item.image) %>
  <% if item.activation_status == 'Activated' %>
    <p>Status: Active</p>
  <% else %>
    <p>Status: Inactive</p>
  <% end %>
<p>Inventory: <%= item.inventory %></p>
<% if item.activation_status == 'Activated' %>
  <%= link_to 'Deactivate Item', "merchant/items/#{item.id}/update", method: :patch %>
<% else %>
  <%= link_to 'Activate Item', "merchant/items/#{item.id}/update", method: :patch %>
<% end %>
</section>
<% end %>
<br>
<br>
