<p><%= @discount.percent %>% when purchasing <%= @discount.item_quantity %> or more items</p>
<p><%= @discount.created_at %></p>
<%= link_to "Edit Discount", merchant_edit_discount_path(@discount.id) %><br>
<%= button_to "Delete Discount", merchant_delete_discount_path(@discount.id), method: :delete %>
