<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <% if current_user %>
        <%= link_to 'Home', '/' %>
        <%= link_to "All Items", "/items"%>
        <%= link_to "All Merchants", "/merchants"%>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
          <% if current_user.default? %>
            <%= link_to "Cart: #{cart.total_items}", "/cart" %>
          <% elsif current_user.merchant? %>
            <%= link_to "Cart: #{cart.total_items}", "/cart" %>
            <%= link_to "Merchant Dashboard", "/merchant" %>
          <% elsif current_user.admin? %>
            <%= link_to "Admin Dashboard", "/admin" %>
            <%= link_to "All Users", "/admin/users" %>
          <% end %>
      <% else %>
        <%= link_to 'Home', '/' %>
        <%= link_to "All Merchants", "/merchants"%>
        <%= link_to "All Items", "/items"%>
        <%= link_to 'Register', '/register/new' %>
        <%= link_to 'Log In', '/login' %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      <% end %>
    </nav>

    <% flash.each do |name, msg|%>
      <div class= "<%=name%>-flash">
      <% if msg.class != String %>
        <% msg.map do |message| %>
          <p><%= message %>.</p>
        <% end %>
      <% else %>
        <p><%=  msg %></p>
      <% end %>
      </div>
    <% end %>

    <% flash.map %>

    <%= yield %>
  </body>
</html>
